.navbar.navbar-default
    .container
        .container-fluid
            .navbar-header
            a.navbar-brand(href='/') Jason.yeah
            .collapse.navbar-collapse(id="")
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='/manage/list') manage